/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
	 header { display:block; height:4em; background-color:#0099CC; }
         header * {
           display:inline-block;
           vertical-align:middle;
           margin-left:1em;
           color:#EEE;
         }
          header h1 {
            margin:0;
          }

     
     #headerIcon img {
      zoom:2;
      display: block;
      margin: auto;

      height: auto;
      max-height: 100%;

      width: auto;
      max-width: 100%;
    }
    header ul {
      float:right;
      margin-right:2em;
      vertical-align:middle;
    }
    #headerIcon {
       display:inline-block;
       height:100%;
       }
    #divMain {
	width:100%;
	margin:0 auto 10px;
    }
    .hero {
	width:calc(100%-4px);
	height:14em;
	border:2px solid #EEE;
	border-top:0;
	padding:0.25em 0;
	background-size:cover;
    }
        .hero * {
		color:#fff; background:rgba(30,30,30,0.7);
		display:inline;
		
	}
		.hero *:after {content:"\A"; white-space:pre; }
    	.hero h1 {
		margin:0;
		display:inline;
		vertical-align:bottom;
	}
	div .bigarticle {
		width:75%;
		margin:0 auto;
		margin:1em auto;
		padding:10px;
	}
    article {
	width:75%;
	background-color:#EEE;
	margin: 1em auto;
	padding:5px;
	border: 1px single #d1d1d1;
	box-shadow:2px 2px #d1d1d1;
	position:relative;top:20px;
	transition:opacity 0.2s linear,top 0.2s linear;*/
	display:none;
    }
    	.articleLoaded {
		opacity:1;
		top:0;
		visibility:visible;
	}
      article h2 {
	      margin:0;
      }
      article h3 {
	      margin-top:0;
      }
	p.articleBar {
		margin:-5px;
		padding:0 5px;
		width:calc(100%-10px);
		background-color:#B3AFAA;
	}	
      footer {
	width:100%; min-height:4em;
	margin-top:5px;
	background-color:#222; color:#eee;
	padding:5px 0;
      }
      footer * {
	      text-align:center;
      }
      .circled {
	font-size:36px;
	vertical-align:middle;
	border:2px solid #eee;
	padding:0 4px;
	border-radius:22px;
	cursor:pointer;
	transition:background-color 0.2s, color 0.2s;
	margin:0 5px;
      }
	.circled:hover {
		background-color:#eee;
		color:#222;
	}	

     @media(max-width:900px) {
       /* Mainly, this media query
	* replaces the nav bar with
	* a drop down menu.
	*/ 
       #menuToggle:before {
         content:'\2630';
         font-size:2em;
	 cursor:pointer;
       }
         #menuToggle:hover {
		background-color:#46C2EB;
	 }
       

       header ul {
       	 display:inline-block;
	 opacity:0;
         color:#EEE;
	 transition:visibility linear 0.5s, opacity 0.2s linear;
	}
       header ul a {
		float:none;
		display:block;
		font-size:1.225em;
	}
       .menuClicked {
		visibility:visible;
		opacity:1;
		float:none;
		z-index:10;
		background-color:#46C2EB;
		position:absolute;
		left:0; top:50px;
		padding:5px;
       }
       header ul:before {	
		border:solid;
		border-color:#46c2eb transparent;
		border-width:0 10px 10px 10px;
		top: -10px;
		content: "";
		left:0;
		position:absolute;
		z-index:10;
       }
   } 
    

    @media(max-width:600px) {
	#headerIcon img {
		zoom:1;
	}

	#divMain {
		width:100%;
	} 	
   }

    @media(max-width:500px) {
	#headerIcon img {
		display:none;
	}
	.hero h1 { font-size:1.25em }
	.hero h2 { font-size:1em; }
    }

        
    /* =============
     * Form Controls
     * ============
     */
    input {
	    padding:5px;
	    font-size:1.25em;
	    border-radius:5px;
	    transition:background-color ease-out 0.25s;
    }
    .failInput {
	    background-color:#D65249;
    }
    button {
	background-color:#0099cc;
	color:#fff;
	border:2px solid #fff;
	padding:5px;
	font-size:1.25em;
	border-radius:5px;
	transition:background-color linear 0.25s;
    }
    	button:hover {
		background-color:#46c2eb;
		
	}
	button:active {
		background-color:#07698A;
	}
    input[type="text"] {
	border:1px solid #0099cc;
    }




/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
