/* Media Queries
 */
 @media (max-device-width:480px) {
	 section, article footer {
		 width:96%;
		 padding:5px 2%;
	 }
	.showcase-container div {
         width:100%;
         padding:5px 0;
     }
 }
 @media (min-device-width:481px) {
	section, article, footer {
		width:96%;
		padding:5px 2%;
	}
	.showcase-container div {
			width:calc(50% - 10px);
	}
 }
 @media (min-device-width:760px) {
	 section, article, footer {
	 	width:50%;
	 	padding:10px 25%;
	 }
	.showcase-container div {
		width:calc(50% - 10px);
	}

	header {
         background-size:cover;
         background-repeat:no-repeat;
         background-position: center;
     }
 }

 /* Display elements
  */
body {
	margin:0;
    background:#000;
}

* {
	font-family:Signika,Arial,sans-serif;
}

header {
	background-color:#007ADE;
	color:#FFC000;
	height:9em;
	margin-top:3rem;
	padding:3rem 1rem;
}
    #homeHeader {
        background-image:url('../img/banner.png');
        background-size: contain;
        background-position: right;
    }
	header h1 {
		margin:0;
		font-size:3rem;
	}
    header * {
        display:inline;
        background-color: rgba(0,0,0,0.5);
    }
        header *:after {
            content:"\A";
            white-space: pre;
        }
        #homeHeader * {background:none; float:none;}
	header a:hover {
		background-color:#FFC000;
		color:#00457E;
	}

nav {
	width:100%;
	height:3rem;
	position:fixed;
	top:0;
	left:0;
	background-color:#FFC000;
	color:#00457E;
}
	nav ul {
		list-style:none;
		height:100%; width:100%;
		margin:0;
		padding:0 5px;
	}
		nav ul li {
			display:block;
			font-size:1.25rem;
			vertical-align:middle;
			height:100%;
			float:left;
			margin:0 5px;
			line-height:3rem;
		}
	nav a:hover {
		background-color:#007ADE;
		color:#FFC000;
	}
footer {
    background-color:#000;
    color:#FFC000;
    text-align:center;
}

/* Section colours
 */
section:nth-of-type(3n+1) {
	color:#C43A00;
	background-color: #DEDEDE;
}
	section:nth-of-type(3n+1) a:hover {
		background-color:#C43A00;
		color:#FFFFFF;
	}
section:nth-of-type(3n+2) {
	background-color:#FF5D17;
}
    section:nth-of-type(3n+2) a:hover {
        background-color:#000;
        color:#FF5D17;
    }
section:nth-of-type(3n) {
    background-color:#FFC000;
    color:#00457E;
}

article {
    background:#fff;
}
    article p:first-of-type::first-letter {
        font-size:2.5rem;
        float:left;
        margin:0 5px 0 0;
        line-height:2.5rem;
    }
    article a:hover * {
        background-color:#000;
        color:#fff;
    }
.indexPost {
    border-top:dashed 2px;
}
    .indexPost:first-child {
        border-top:none;
    }
    .indexPost h1 {
        margin:5px 0 0 0;
    }
    .indexPost h3 {
        text-transform: uppercase;
        margin:0 0 5px 0;
    }

.pagination * {
    text-align: center;
    margin:0;
}
.pagination h1 {
    font-size:5rem;
}
.paginationButton {
    opacity:0.6;
    transition:opacity 0.25s;
    text-decoration: none;
}
    .paginationButton:hover {
        opacity: 1;
    }

.showcase-container {
	width:100%;
    display:flex;
	flex-wrap:wrap;
}
	.showcase-container div {

		margin:0 5px;
		height:100%;
		float:left;
	}

/* Generic styles
 */
a {
	color:inherit;
	transition:background-color 0.2s ease-in-out,color 0.2s ease-in-out;
}
h1 {
	font-size:2.5rem;
}
h4 {
    text-transform: uppercase;
}
