$card-padding: 0.5rem;
@for $i from 1 through 5 {
  .cards-#{$i} {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    padding: 0.25rem;
    box-sizing: border-box;

    &.large {
      .card {
        font-size: 1.25rem;
      }
    }

    &.no-padding {
      padding: 0;
      margin: #{$card-padding} -#{$card-padding};

      .card {
        @include respond-to(1400px) {
          width: calc((100% / #{$i}) - (#{$card-padding} * 2 * #{$i - 1}));
        }
      }
    }

    .card {
      width: 100%;
      @include respond-to(1400px) {
        width: calc((100% / #{$i}) - (#{$card-padding} * 2 * #{$i}));
      }
    }
  }
}

.card {
  background-color: lighten($color-pink, 10);
  padding: $card-padding;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  color: $color-black;

  .card-img {
    margin: -#{$card-padding} -#{$card-padding} 0 -#{$card-padding};
    background-position: 50% 50%;
    background-size: cover;
    flex: 0 0 8rem;
    position: relative;

    &::after {
      position: absolute;
      display: block;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      content: "";
      background: $gradient-bluepink;
      opacity: 0.7;
    }
  }

  .card-body {
    flex: 1;
    padding: 0.5rem 0;

    h3 {
      margin: 0 0 0.25rem;
      font-size: 1.8rem;
    }

    p {
      margin: 0.25rem 0;
    }

    a:not(.button) {
      color: $color-white;
    }
  }

  button,
  .button {
    background: none;
    color: $color-black;
    border: $color-black solid 0.25rem;
    transition: all 0.25s ease-in-out;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    padding: 0.25rem;

    &:hover {
      background-color: $color-black;
      color: $color-pink;
    }
  }
}

.card.post {
  background-color: darken($color-white, 5);
  padding: 1rem;
  margin: 0.5rem -1rem;
  transition: all 0.25s ease-in-out;

  &:hover {
    background-color: darken($color-white, 10);
    box-shadow: 0 3px 3px 0px rgba($color-pink, 0.5);
  }

  h3 {
    margin: 0.25rem 0;
    font-size: 1.3rem;
  }
  p {
    margin: 0.25rem 0;
  }
}
