$header-bp-md: 800px;
$header-bp-lg: 1300px;

header {
  position: relative;
  padding: 0 4%;
  z-index: 1;
  min-height: 30vh;
  color: $color-black;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

header:not(.header-home) {
  align-items: flex-start;
  justify-content: center;
  z-index: 0;
  background-position: center center;
  background-size: cover;
  padding: 0.5rem 4%;
  margin-bottom: 1rem;

  &:not(.has-img) {
    background: $gradient-pinkblue;
    &::before,
    &::after {
      visibility: hidden;
    }
  }

  &::before,
  &::after {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: "";
  }

  // blurry header image
  &::before {
    background: inherit;
    z-index: -2;
    filter: brightness(60%) blur(10px);
    transform: scale(1.2);
  }

  // gradient tint in bg
  &::after {
    background: $gradient-pinkblue;
    z-index: -1;
    opacity: 0.7;
  }

  @include respond-to(600px) {
    padding: 0 20%;
  }

  h1,
  h2,
  h3 {
    display: inline;
    color: $color-white;
  }

  button,
  .button {
    border: 0.2rem solid $color-mint;
    color: $color-white;
    background: $color-blue;
    font-size: 1.2rem;
    transition: all 0.25s ease-in-out;

    &:hover {
      background: $color-mint;
      color: $color-black;
    }

    &:focus {
      border-color: $color-white;
      border-style: dashed;
      padding: 1.2rem 1rem 1rem;
    }
  }

  div {
    margin: 0.5rem 0;
  }

  h1 {
    font-size: 3.5rem;
  }
}

header.header-home {
  height: 100vh;
  color: $color-blue;
  background: $color-black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;

  .logo {
    height: 7em;
  }

  h1,
  h2 {
    text-align: center;
    background: linear-gradient(45deg, $color-blue, $color-mint);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: $font-heading;
  }

  h1 {
    font-size: 3.5rem;
    margin: 0 0 1rem;
    @include respond-to($header-bp-md) {
      font-size: 6rem !important;
      margin: 0 0 1rem;
    }
    @include respond-to($header-bp-lg) {
      font-size: 9rem;
    }
  }

  h2 {
    font-size: 1.5rem;
    margin: 0 0 0.5rem;

    @include respond-to($header-bp-md) {
      font-size: 3rem !important;
    }
    @include respond-to($header-bp-lg) {
      font-size: 4rem;
    }
  }

  // cool 3d-lines button
  button {
    font-size: 2rem;
    width: 12rem;
    color: $color-pink;
    background: none;
    margin-top: 5rem;
    box-sizing: border-box;
    z-index: 0;
    position: relative;
    cursor: pointer;
    display: block;
    background: transparent;
    transition: all 0.25s ease-in-out;
    padding: 0.5rem;

    span {
      z-index: 0;
    }

    &:hover,
    &:focus {
      color: $color-white;
      border: none;

      &::before {
        transform: translate(0.5rem, 0.5rem);
      }

      &::after {
        transform: translate(-0.5rem, -0.5rem);
      }
    }

    &:focus {
      &::before {
        border-color: rgba($color-blue, 0);
      }
      &::after {
        border-style: dashed;
        border-color: $color-mint;
      }
    }

    &::before,
    &::after {
      display: block;
      filter: none;
      position: absolute;
      width: 100%;
      height: 100%;
      content: "";
      border-width: 0.25rem;
      border-style: solid;
      left: 0;
      top: 0;
      transition: all 0.25s ease-in-out;
      opacity: 1;
    }

    &::before {
      z-index: 1;
      left: -0.75rem;
      top: -0.75rem;
      border-color: $color-blue;
      transform: scale(1);
    }

    &::after {
      z-index: 2;
      left: 0.25rem;
      top: 0.25rem;
      border-color: $color-pink;
    }
  }

  .social {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    width: 80vw;
    justify-content: space-between;
    margin-bottom: 3rem;
    @include respond-to($header-bp-md) {
      margin-bottom: 0;
    }

    a {
      color: $color-mint;
      transform: scale(1.5);
      width: 2rem;
      height: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0.2rem;
      transition: all 0.25s ease-in-out;

      &:hover {
        background-color: rgba($color-mint, 0.2);
      }
    }
  }

  ::selection {
    background-color: $color-blue;
    color: $color-white;
  }
}

#icon-gradient {
  visibility: hidden;
  display: block;
}
