body,
html {
    margin: 0;
    min-height: 100%;
    position: relative;
    background-color: $color_brand2;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: visible;
}

body.active {
    overflow-y: hidden;
}

.perspective-nav {
    position: fixed;
    top: 20vh;
    left: -50vw;
    min-width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    // opacity: 0;
    transition: all 0.25s ease-in-out;
    font-family: $font_heading;

    ::selection {
        background-color: $color_brand1;
    }

    @include respond-to(tablet) {
        min-width: 30vw;
    }

    a {
        color: #fff;
        padding-left: 1rem;
        background-color: transparent;
        // text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.3em;
        font-size: 1.8rem;
        transition: all 0.25s ease-in-out;

        @include respond-to(tablet) {
            font-size: 2rem;
        }

        &:hover, &:active {
            background-color: $color_brand3;
            color: $color_brand1;
        }
    }
}

body.active .perspective-nav {
    opacity: 1;
    left: 5vw;
}

.no-csstransforms3d .active .container {
    left: -75%;
}

.container {
    transition: transform 0.25s;
    transform-origin: 50% 50%;
    min-height: 100%;
    position: relative;
    &::after {
        background-color: rgba($color_brand2, 0.3);
        content: '';
        position:absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0px;
        opacity: 0;
        z-index:1;
        cursor: pointer;
        transition: opacity 0.25s ease-in-out, height 0s 0.25s ease-in-out;
    }
}

body.active .container {
    transform: rotateY(20deg) translateX(70%);
    width: 100vw;
    // height: 100vh;
    // overflow:auto;

    @include respond-to(tablet) {
        transform: rotateY(20deg) translateX(50%);
    }

    .jumo {
        overflow: hidden;
    }

    &::after {
        opacity: 1;
        height: 101%;
        transition: opacity 0.25s ease-in-out;
    }
}
*:not(footer) > .socials {
    background-color: $color_brand1;
    z-index: 0;
    color: $color_brand3;
}
.socials {
    width: 100%;
    padding: 8vw 0;
    text-align: center;
    height: 12vw;
    line-height: 12vw;
    font-size: 7vw;
    @include respond-to(desktop) {
        padding: 8vh 0;
        height: 8vh;
        line-height: 8vh;
        font-size: 6vh;
    }
    a {
        color: inherit;
        position: relative;
        z-index: 1;
        &:after {
            opacity: 0;
            position: absolute;
            bottom: calc(100% + 0.5rem);
            height: 2.5rem;
            left: 0rem;
            line-height: 2.5rem;
            font-size: 2.5rem;
            background: linear-gradient(45deg,$color_brand2,$color_brand5);
            color: $color_brand4;
            padding: 1rem;
            border-radius: 0.5rem;
            z-index: 2;
            content: attr(data-tooltip);
            visibility: hidden;
            transition: visibility 0s, opacity $animation_default;

            // @include respond-to(tablet) {
            //     left: 1rem;
            // }
        }
        &:before {
            opacity: 0;
            border: solid;
            border-color: $color_brand2 transparent;
            border-width: 1rem 1rem 0 1rem;
            content: '';
            bottom: calc(100% - 0.5rem);
            position: absolute;
            visibility: hidden;
            transition: visibility 0s, opacity $animation_default;
            left: 0.5rem;
            @include respond-to(desktop) {
                left: 2rem;
            }
        }
        &:hover:after,
        &:hover:before {
            opacity: 1;
            visibility: visible;
        }
    }
    i {
        margin: 0 2vh;
    }
}
.main {
    color: $color_brand1;
    z-index: 1;
    position: relative;
    background-color: $color_brand4;
    width: 90%;
    padding: 2vw 5% 5vw;
    @include respond-to(desktop) {
        padding: 2vw 15%;
        width: 70%;
    }
    &:before {
        background: inherit;
        top: 0;
        content: '';
        display: block;
        height: 50vh;
        left: 0;
        position: absolute;
        right: 0;
        transform: skewY(1.5deg);
        transform-origin: 100%;
        z-index: -1;
    }
    &.post {
        @include respond-to(desktop) {
            padding: 2vw 20%;
            width: 60%;
        }
    }

        img:not(.emoji) {
            width: 100%;
            border: $color_brand3 solid 0.25rem;
        }

        hr {
            width: 15%;
            margin: 0;
            border: $color_brand5 solid 0.5rem;
        }
}
.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@for $i from 1 through 5 {
    .cards-#{$i} {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        margin-bottom: 2rem;
        align-items: stretch;

        .card {
          width: 100%;
            @include respond-to(desktop) {
                width: calc((100% / #{$i}) - (0.75rem * #{$i}));
            }
        }
    }
}

.card {
    background-color: lighten($color_brand5, 5);
    color: $color_brand1;
    padding: 0.75rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    margin: 0.5rem 0;
    @include break(sm) {
        margin: 0.5rem 0.25rem;
    }

    h2 {
        font-size: 2.5rem;
        margin: 0.2rem 0;
    }

    p {
        margin: 0.1rem 0;
        font-size: 1.2rem;

        &:last-of-type {
          margin-bottom: 0.5rem;
        }
    }

    .button-container {
      display: flex;
      flex-direction: column;

      @include break(sm) {
        flex-direction: row;
      }
    }

    a.button {
        margin-top: auto;
        // margin-bottom: auto;

        @include break(sm) {
            align-self: baseline;
            text-align: left;
            margin-left: 0.3rem;
            margin-bottom: 0 !important;

            &:nth-of-type(1) {
              margin-left: 0;
            }
        }

        align-self: stretch;
        text-align: center;
        margin-bottom: 0.3rem;

        // last button in card has no bottom margin.
        &:nth-last-of-type(1) {
          margin-bottom: 0;
        }
    }

    ::selection {
        background-color: $color_brand1;
        color: $color_brand2;
    }
}

.card-img {
    position: relative;
    background-size: cover;
    background-position: center !important;
    background: rgba($color_brand1, 0.3);
    width: calc(100% + 1.5rem);
    height: 20rem;
    left: -0.75rem;
    top: -0.75rem;
    z-index: 0;

    &:after {
        width: 100%;
        height: 100%;
        display: block;
        z-index: 1;
        background: linear-gradient(45deg, $color_brand5, $color_brand2);
        content: '';
        opacity: 0.7;
    }
}

footer {
    @extend .main;
    background-color: $color_brand1;
    color: $color_brand3;
    text-align: center;

    a:not(.social):before {
        background-color: $color_brand2 !important;
    }

    &:before {
        display: none;
    }
    &:after {
        display: none;
    }

    ::selection {
        color: $color_brand1;
    }
}
