.modal {
  padding: 2vw;

  position: fixed;
  z-index: 5;
  left: 50%;
  top: 50%;
  background-color: $color_brand5;
  color: $color_brand4;

  width: 80vw;
  margin-left: -43vw;
  box-shadow: $color_brand1 2px 4px 7px 0px;

  @include respond-to(tablet) {
    width: 50vw;
    margin-left: -28vw;
  }

  .modal-close {
    font-size: 1.5rem;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    align-self: flex-end;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.25s ease-in-out;
    &:hover {
      background-color: $color_brand2;
    }
  }

  .modal-content {
    display: flex;
    flex-direction: column;
  }

  img {
    float: left;
    max-width: 25vw;
    max-height: 25vw;
    margin-right: 0.5rem;

    &.invisible {
      display: none;
    }
  }

  h1 {
    font-size: 1.8rem;
  }
}

.sticker-modal {
  @extend .modal;

  min-height: 50vh;
  margin-top: -25vh;
}
