nav {
  width: 100%;
  background-color: $color-black;
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 0;

  a {
    font-family: $font-heading;
    font-size: 2rem;
    flex: 1;
    text-align: center;
    padding: 0.5rem;
    color: $color-mint;
    text-decoration: none;
    transition: all 0.25s ease-in-out;

    &:not(.current):hover {
      background-color: rgba($color-mint, 0.2);
      color: $color-white;
    }

    &.current {
      color: $color-blue;
      text-decoration: underline;
      font-weight: bold;
    }
  }
}
