#nav-button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 5;
  box-shadow: 0 3px 12px 1px black;
  box-sizing: border-box;
  padding: 0;

  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  min-width: 0;
  transition: all $animation-default;

  &::before {
    border-radius: 50%;
  }

  &:focus {
    width: 4.25rem;
    height: 4.25rem;
    bottom: 1.88rem;
    right: 1.88rem;
  }

  .bar {
    width: 50%;
    height: 6%;
    background-color: $color-white;
    margin: 0 auto;
    position: absolute;
    top: 47%;
    left: 25%;
    transition: all $animation-default;
    transform-origin: 0% 50%;

    &:nth-of-type(1) {
      top: 32%;
    }

    &:nth-of-type(3) {
      top: 62%;
    }
  }

  &.menu-active {
    transform: rotate(180deg);
    box-shadow: 0 -3px 12px 1px black;
    background: linear-gradient(-135deg, $color-blue, $color-pink);
    .bar {
      &:nth-of-type(1) {
        transform: translateX(53%) rotate(33deg) scaleX(0.52);
      }
      &:nth-of-type(3) {
        transform: translateX(53%) rotate(-33deg) scaleX(0.52);
      }
    }
  }
}

nav {
  width: 100%;
  height: 100vh;
  background-color: $color-pink;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  position: fixed;
  top: 0;
  padding: 2rem;
  z-index: 1;
  box-sizing: border-box;

  a {
    font-family: $font-heading;
    font-size: 2rem;
    text-align: center;
    padding: 0.5rem;
    color: $color-white;
    text-decoration: none;
    transition: all 0.25s ease-in-out;

    &.current,
    &:hover {
      color: $color-blue;
      text-decoration: underline;
      font-weight: bold;
    }
  }
}
