article.post {
  @extend .page;

  font-family: $font-writing;
  font-size: 1.2rem;
  line-height: 1.8rem;

  @include respond-to(800px) {
    text-align: left;
  }

  p,
  li {
    font-size: 1.1rem;
    margin: 1rem 0;
  }

  p,
  h3 {
    text-align: justify;
  }

  hr {
    margin: 2rem 0;
  }

  code {
    font-size: 0.8rem;
  }

  pre > code {
    border: none;
    padding: 0;
  }

  pre.highlight {
    padding: 0.5rem;
    overflow-x: scroll;
  }
}
