body {
  margin: 0;
  background-color: $color-white;
  color: $color-black;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  z-index: 1;
  position: relative;
}

#main {
  position: relative;
  z-index: 2;
  background-color: $color-white;
  transition: all $animation-default;
  opacity: 1;

  &.menu-active {
    transform: translate(-75vw);
    opacity: 0.5;
    cursor: pointer;
    @include respond-to(800px) {
      transform: translate(-25vw);
    }
  }
}

article {
  // position: relative;
  width: 100%;
  padding: 0 4% 91rem;
  box-sizing: border-box;
}
