body {
  margin: 0;
  background-color: $color-white;
  color: $color-black;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  z-index: 1;
  position: relative;
}

#main {
  position: relative;
  z-index: 2;
  background-color: $color-white;
  transition: all $animation-default;
  opacity: 1;

  &.menu-active {
    transform: translate(-75vw);
    opacity: 0.5;
    cursor: pointer;
    @include respond-to(800px) {
      transform: translate(-25vw);
    }
  }
}

article {
  width: 100%;
  padding: 0 4%;
  box-sizing: border-box;

  &.page {
    @include respond-to(600px) {
      width: 70%;
      padding: 0;
      margin: 0 auto;
    }
  }
}

footer {
  padding: 2rem 10%;
  background: $gradient-bluemint;
  display: flex;
  flex-direction: column;
  justify-content: center;
  * {
    text-align: center;
  }
  p {
    display: inline-flex;
    justify-content: center;

    svg {
      margin: 0 0.4rem;
    }
  }
}
