$color-black: #2d2e2a;
$color-pink: #d81e6d;
$color-mint: #1ed889;
$color-white: #f1f1f1;
$color-blue: #258ea6;
$color-twitter: #55acee;

$font-heading: "Space Mono", sans-serif;
$font-body: "Poppins", sans-serif;
$font-writing: "Lora", serif;
$font-code: "Fira Mono", monospace;

$gradient-bluemint: linear-gradient(45deg, $color-blue, $color-mint);
$gradient-bluepink: linear-gradient(45deg, $color-blue, $color-pink);

$animation_default: 0.25s ease-in-out;

$breakpoints: (
  xs: 32rem,
  sm: 48rem,
  md: 72rem,
  lg: 96rem,
  xl: 102rem,
  xx: 120rem
);
