

$color_brand1: #2d2e2a;
$color_brand2: #d81e6d;
$color_brand3: #1ed889;
$color_brand4: #f1f1f1;
$color_brand5: #258ea6;

$color_twitter: #55acee;


$font_heading: "Space Mono", sans-serif;
$font_body: "Poppins", sans-serif;
$font_writing: "Lora", serif;
$font_code: "Fira Mono", monospace;

$animation_default: 0.25s ease-in-out;

$breakpoints: (
    xs: 32rem,
    sm: 48rem,
    md: 72rem,
    lg: 96rem,
    xl: 102rem,
    xx: 120rem
);
