

$color_brand1: #171C44;
$color_brand2: #ED254E;
$color_brand3: #F9DC5C;
$color_brand4: #ECECEC;
$color_brand5: #465362;

$color_twitter: #55acee;


$font_heading: "Dosis", sans-serif;
$font_body: "Catamaran", sans-serif;
$font_writing: "Lora", serif;
$font_code: "Space Mono", monospace;

$animation_default: 0.25s ease-in-out;

$breakpoints: (
    xs: 32rem,
    sm: 48rem,
    md: 72rem,
    lg: 96rem,
    xl: 102rem,
    xx: 120rem
);
