$color-red:    #81C3D7;
$color-blue:   #3A7CA5;
$color-green:  #083D77;
$color-yellow: #F4D35E;
$color-black:  #272726;
$color-white:  #D9DCD6;

$font-titles: 'Rubik', sans-serif;

$page-width: 70%;
$page-padding: ( 100% - $page-width ) / 2;

$breakpoints: (
    xs: 32rem,
    sm: 48rem,
    md: 72rem,
    lg: 96rem,
    xl: 102rem,
    xx: 120rem
);
