---
layout: "page"
title: Hackathons
description: "Places you might have seen me."
permalink: /hackathons/
navigation: true
order: 4
---

<p>I aim to go to as many hackathons as I can – they’re an awesome way of trying
out new tech and meeting new people with similar interests! A selection of my
submitted projects are on my <a href="//devpost.com/mbell">Devpost profile</a>. Here’s a definitive list of
what I’ve been up to.</p>

{% assign hackathonsByYear = site.hackathons | group_by_exp: "h", "h.start_time | date: '%Y'" | sort: "name" | reverse %}

{% for year in hackathonsByYear %}
<h1>Hackathons attended in {{ year.name }} ({{year.items | size }})</h1>
<div class="cards-3 no-padding">
    {% assign hacks = year.items | sort: "start_time" | reverse %}
    {% for h in hacks %}
        {% include hack-card.html h=h %}
    {% endfor %}
</div>
{% endfor %}