@charset "UTF-8";
.red { color: #ED254E; }

::-moz-selection { background-color: #ED254E; opacity: 1; }

::selection { background-color: #ED254E; opacity: 1; }

body { font-size: 1.5rem; font-family: "Itim", sans-serif; font-weight: 500; }

@media (min-width: 750px) { body { font-size: 2rem; } }

p, li { line-height: 2.25rem; }

@media (min-width: 750px) { p, li { line-height: 3rem; } }

h1, .jumbo h2, h2, h3, h4, h5, h6 { font-family: "Dosis", sans-serif; font-weight: 600; }

h1, .jumbo h2 { font-size: 3rem; margin: 0.25rem 0; }

@media (min-width: 750px) { h1, .jumbo h2 { margin: 0.5rem 0; font-size: 5rem; } }

ul { list-style: none; padding: 0; }

li { text-indent: -1rem; }

li:before { content: "•"; padding-right: 0.7rem; color: #ED254E; }

li > p { display: inline; }

*:not(.socials):not(.perspective-nav) > a:not(.button) { color: inherit; position: relative; }

*:not(.socials):not(.perspective-nav) > a:not(.button):before { width: 100%; height: 0%; left: 0; top: 100%; content: ''; background-color: rgba(249, 220, 92, 0.7); position: absolute; z-index: -1; -webkit-transition: height 0.25s ease-in-out, top 0.25s ease-in-out; transition: height 0.25s ease-in-out, top 0.25s ease-in-out; }

*:not(.socials):not(.perspective-nav) > a:not(.button):hover:before { height: 100%; top: 0; }

.jumbo { background-color: #F9DC5C; text-align: center; padding: 25vw 5% 2vw; position: relative; color: #171C44; z-index: 1; -webkit-transition: height 0.25s ease-in-out; transition: height 0.25s ease-in-out; }

@media (min-width: 1200px), (orientation: landscape) { .jumbo { padding: 15vh 15% 5vh; } }

.jumbo hr { width: 100%; margin: 0; height: 1vw; border: none; background-color: #171C44; }

@media (min-width: 1200px), (orientation: landscape) { .jumbo hr { height: 1vh; top: -5vh; } }

.jumbo:after { background: inherit; bottom: 0; content: ''; display: block; height: 50vh; left: 0; opacity: 0; position: absolute; right: 0; -webkit-transform: skewY(-1.5deg); -ms-transform: skewY(-1.5deg); transform: skewY(-1.5deg); -webkit-transform-origin: 100%; -ms-transform-origin: 100%; transform-origin: 100%; z-index: -1; background-image: none; }

.jumbo * { position: relative; }

.jumbo h1, .jumbo h2 { font-size: 15vw; line-height: 17vw; font-family: "Dosis", sans-serif; font-weight: 800; text-align: left; margin: 10vw 0 2vw 0; }

@media (min-width: 1200px), (orientation: landscape) { .jumbo h1, .jumbo h2 { top: -5vh; font-size: 15vh; line-height: 18vh; margin: 0; } }

.jumbo h2 { font-size: 5vw; line-height: 6vw; text-align: left; }

@media (min-width: 1200px), (orientation: landscape) { .jumbo h2 { font-size: 5vh; line-height: 6vh; } }

.jumbo .jumbo-button { display: inline-block; padding: 1rem 1.5rem; margin: 5vw auto; font-size: 1.25rem; font-family: "Itim", sans-serif; font-weight: bold; cursor: pointer; border: 0.25rem #171C44 solid; color: #171C44; -webkit-transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out; transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out; }

@media (min-width: 1200px), (orientation: landscape) { .jumbo .jumbo-button { font-size: 2.5rem; margin: 2vh auto; top: -3vh; } }

.jumbo .jumbo-button:hover { background-color: #171C44; color: #F9DC5C; }

.jumbo-home { padding: 8vw 5% 2vw; }

@media (min-width: 1200px), (orientation: landscape) { .jumbo-home { padding: 5vh 15% 8vh; height: 70vh; } }

.jumbo-home h1, .jumbo-home .jumbo h2, .jumbo .jumbo-home h2 { word-spacing: 95vw; }

.jumbo-home h2 { text-align: right; word-spacing: normal; top: -7vw; }

@media (min-width: 1200px), (orientation: landscape) { .jumbo-home h2 { top: -5vh; } }

.jumbo-home:after { opacity: 1; }

.jumbo:not(.jumbo-home) { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: baseline; -ms-flex-align: baseline; align-items: baseline; padding-bottom: 3rem; background-size: cover; background-position: center; }

.jumbo:not(.jumbo-home) > div { text-align: left; }

.jumbo:not(.jumbo-home) h1, .jumbo:not(.jumbo-home) h2, .jumbo:not(.jumbo-home) h2, .jumbo:not(.jumbo-home) a { background-color: #ED254E; display: inline; position: relative; padding-left: 0; }

.jumbo:not(.jumbo-home) h1, .jumbo:not(.jumbo-home) h2 { left: 1vw; padding-top: 1vw; padding-bottom: 1vw; float: none; box-shadow: 1vw 0 0 #ED254E, -1vw 0 0 #ED254E; }

.jumbo:not(.jumbo-home) h1 .red, .jumbo:not(.jumbo-home) h2 .red { color: #F9DC5C; }

@media (min-width: 1200px), (orientation: landscape) { .jumbo:not(.jumbo-home) h1, .jumbo:not(.jumbo-home) h2 { left: 1vh; padding-top: 1vh; padding-bottom: 1vh; box-shadow: 1vh 0 0 #ED254E, -1vh 0 0 #ED254E; } }

.jumbo:not(.jumbo-home) h2 { left: 0.5vw; float: none; top: 1vw; padding-top: 0.5vw; padding-bottom: 0.5vw; box-shadow: 0.5vw 0 0 #ED254E, -0.5vw 0 0 #ED254E; }

@media (min-width: 1200px), (orientation: landscape) { .jumbo:not(.jumbo-home) h2 { left: 0.5vh; top: -3vh; padding-top: 0.5vh; padding-bottom: 0.5vh; box-shadow: 0.5vh 0 0 #ED254E, -0.5vh 0 0 #ED254E; } }

.jumbo:not(.jumbo-home) a.button { line-height: normal; font-size: 5vw; line-height: 6vw; top: 2vw; }

@media (min-width: 1200px), (orientation: landscape) { .jumbo:not(.jumbo-home) a.button { font-size: 5vh; line-height: 6vh; top: -1vh; } }

.jumbo:not(.jumbo-home) a.button:hover { background-color: #171C44; }

.jumbo:not(.jumbo-home) ::-moz-selection { background-color: #171C44 !important; color: #ED254E !important; }

.jumbo:not(.jumbo-home) ::selection { background-color: #171C44 !important; color: #ED254E !important; }

body, html { margin: 0; min-height: 100%; position: relative; background-color: #ED254E; z-index: 1; overflow-x: hidden; overflow-y: visible; }

body.active { overflow-y: hidden; }

.perspective-nav { position: fixed; top: 20vh; left: -50vw; min-width: 50vw; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; -webkit-transition: all 0.25s ease-in-out; transition: all 0.25s ease-in-out; }

.perspective-nav ::-moz-selection { background-color: #171C44; }

.perspective-nav ::selection { background-color: #171C44; }

@media (min-width: 750px) { .perspective-nav { min-width: 30vw; } }

.perspective-nav a { color: #fff; padding-left: 1rem; background-color: transparent; text-decoration: none; letter-spacing: 0.2em; font-size: 1.8rem; -webkit-transition: all 0.25s ease-in-out; transition: all 0.25s ease-in-out; }

@media (min-width: 750px) { .perspective-nav a { font-size: 3rem; } }

.perspective-nav a:hover, .perspective-nav a:active { background-color: #F9DC5C; color: #171C44; }

body.active .perspective-nav { opacity: 1; left: 5vw; }

.no-csstransforms3d .active .container { left: -75%; }

.container { -webkit-transition: -webkit-transform 0.25s; transition: -webkit-transform 0.25s; transition: transform 0.25s; transition: transform 0.25s, -webkit-transform 0.25s; -webkit-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; transform-origin: 50% 50%; min-height: 100%; position: relative; }

.container::after { background-color: rgba(237, 37, 78, 0.3); content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 0px; opacity: 0; z-index: 1; cursor: pointer; -webkit-transition: opacity 0.25s ease-in-out, height 0s 0.25s ease-in-out; transition: opacity 0.25s ease-in-out, height 0s 0.25s ease-in-out; }

body.active .container { -webkit-transform: rotateY(20deg) translateX(70%); transform: rotateY(20deg) translateX(70%); width: 100vw; }

@media (min-width: 750px) { body.active .container { -webkit-transform: rotateY(20deg) translateX(50%); transform: rotateY(20deg) translateX(50%); } }

body.active .container .jumo { overflow: hidden; }

body.active .container::after { opacity: 1; height: 101%; -webkit-transition: opacity 0.25s ease-in-out; transition: opacity 0.25s ease-in-out; }

*:not(footer) > .socials { background-color: #171C44; z-index: 0; color: #F9DC5C; }

.socials { width: 100%; padding: 8vw 0; text-align: center; height: 12vw; line-height: 12vw; font-size: 10vw; }

@media (min-width: 1200px), (orientation: landscape) { .socials { padding: 8vh 0; height: 8vh; line-height: 8vh; font-size: 6vh; } }

.socials a { color: inherit; position: relative; z-index: 1; }

.socials a:after { opacity: 0; position: absolute; bottom: calc(100% + 0.5rem); height: 2.5rem; left: -0.5rem; line-height: 2.5rem; font-size: 2.5rem; background-color: #ED254E; color: #F9DC5C; padding: 1rem; border-radius: 0.5rem; z-index: 2; content: attr(data-tooltip); visibility: hidden; -webkit-transition: visibility 0s, opacity 0.25s ease-in-out; transition: visibility 0s, opacity 0.25s ease-in-out; }

.socials a:before { opacity: 0; border: solid; border-color: #ED254E transparent; border-width: 1rem 1rem 0 1rem; content: ''; bottom: calc(100% - 0.5rem); position: absolute; left: 1rem; visibility: hidden; -webkit-transition: visibility 0s, opacity 0.25s ease-in-out; transition: visibility 0s, opacity 0.25s ease-in-out; }

.socials a:hover:after, .socials a:hover:before { opacity: 1; visibility: visible; }

.socials i { margin: 0 2vh; }

.main, footer { color: #171C44; z-index: 1; position: relative; background-color: #c7e8F3; width: 90%; padding: 2vw 5%; }

@media (min-width: 1200px), (orientation: landscape) { .main, footer { padding: 2vw 15%; width: 70%; } }

.main:before, footer:before { background: inherit; top: 0; content: ''; display: block; height: 50vh; left: 0; position: absolute; right: 0; -webkit-transform: skewY(1.5deg); -ms-transform: skewY(1.5deg); transform: skewY(1.5deg); -webkit-transform-origin: 100%; -ms-transform-origin: 100%; transform-origin: 100%; z-index: -1; }

.flex { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.cards-1 { display: -webkit-box; display: -ms-flexbox; display: flex; width: 100%; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-bottom: 2rem; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }

@media (min-width: 1200px), (orientation: landscape) { .cards-1 .card { width: calc((100% / 1) - (0.5rem * 1)); } }

.cards-2 { display: -webkit-box; display: -ms-flexbox; display: flex; width: 100%; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-bottom: 2rem; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }

@media (min-width: 1200px), (orientation: landscape) { .cards-2 .card { width: calc((100% / 2) - (0.5rem * 2)); } }

.cards-3 { display: -webkit-box; display: -ms-flexbox; display: flex; width: 100%; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-bottom: 2rem; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }

@media (min-width: 1200px), (orientation: landscape) { .cards-3 .card { width: calc((100% / 3) - (0.5rem * 3)); } }

.cards-4 { display: -webkit-box; display: -ms-flexbox; display: flex; width: 100%; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-bottom: 2rem; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }

@media (min-width: 1200px), (orientation: landscape) { .cards-4 .card { width: calc((100% / 4) - (0.5rem * 4)); } }

.cards-5 { display: -webkit-box; display: -ms-flexbox; display: flex; width: 100%; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-bottom: 2rem; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }

@media (min-width: 1200px), (orientation: landscape) { .cards-5 .card { width: calc((100% / 5) - (0.5rem * 5)); } }

.card { background-color: #ef3d61; color: #171C44; padding: 0.5rem; overflow: hidden; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; margin: 0.5rem 0; }

@media (min-width: 48rem) { .card { margin: 0.5rem 0.25rem; } }

.card h2 { font-size: 2.5rem; margin: 0.2rem 0; }

.card p { margin: 0.1rem 0; font-size: 1.5rem; }

.card a.button { margin-top: 0.5rem; margin-bottom: auto; -ms-flex-item-align: stretch; -ms-grid-row-align: stretch; align-self: stretch; text-align: center; }

@media (min-width: 48rem) { .card a.button { -ms-flex-item-align: baseline; align-self: baseline; text-align: left; } }

.card ::-moz-selection { background-color: #171C44; color: #ED254E; }

.card ::selection { background-color: #171C44; color: #ED254E; }

.card-img { position: relative; background-size: cover; background-position: center !important; background: rgba(23, 28, 68, 0.3); width: calc(100% + 1rem); height: 20rem; left: -0.5rem; top: -0.5rem; }

footer { background-color: #171C44; color: #ED254E; text-align: center; }

footer:before { display: none; }

footer:after { display: none; }

footer ::-moz-selection { color: #171C44; }

footer ::selection { color: #171C44; }

.button { color: inherit; text-decoration: none; border: 0.25rem #171C44 solid !important; padding: 0.25rem 0.75rem !important; background-color: transparent; -webkit-transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out; transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out; }

.button:hover { color: #ED254E; background-color: #171C44; }

.menu-button { position: fixed; left: 0; top: 0; width: 5rem; height: 5rem; background-color: rgba(34, 34, 34, 0.5); z-index: 3; -webkit-transition: background-color 0.25s ease-in-out; transition: background-color 0.25s ease-in-out; }

.menu-button .bar { background-color: #fff; width: 70%; height: 10%; position: absolute; left: 15%; -webkit-transition: all 0.25s ease-in-out; transition: all 0.25s ease-in-out; }

.menu-button .bar:nth-of-type(1) { top: 20%; -webkit-transform: rotateZ(0deg) translateX(0%); -ms-transform: rotate(0deg) translateX(0%); transform: rotateZ(0deg) translateX(0%); }

.menu-button .bar:nth-of-type(2) { top: 45%; }

.menu-button .bar:nth-of-type(3) { bottom: 20%; }

.menu-button.active { background-color: #ED254E; }

.menu-button.active .bar { -webkit-transform-origin: 100%; -ms-transform-origin: 100%; transform-origin: 100%; -webkit-transition: all 0.25s ease-in-out; transition: all 0.25s ease-in-out; }

.menu-button.active .bar:nth-of-type(1) { -webkit-transform: translateX(-15%) rotateZ(-45deg); -ms-transform: translateX(-15%) rotate(-45deg); transform: translateX(-15%) rotateZ(-45deg); }

.menu-button.active .bar:nth-of-type(2) { background-color: transparent; }

.menu-button.active .bar:nth-of-type(3) { -webkit-transform: translateX(-15%) rotateZ(45deg); -ms-transform: translateX(-15%) rotate(45deg); transform: translateX(-15%) rotateZ(45deg); }

.menu-button:hover { background-color: #ED254E; cursor: pointer; }

/*# sourceMappingURL=main.css.map */
