<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Matt Bell</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link defer rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link defer href="https://fonts.googleapis.com/css?family=Poppins:500,600|Space+Mono" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/main.css" />

    <!-- open graph -->
    {% if page.title %}
      <meta property="og:title" content="{{ page.title }}" />
    {% endif %}
    <meta property="og:url" content="https://mbell.me/{{ page.url }}" />
    {% if page.layout == "post" %}
      <meta property="og:type" content="article" />
      <meta property="og:article:published_time" content="{{ page.date }}" />
      <meta property="og:article:author" content="Matt Bell" />
      <meta property="og:article:tag" content="{{ page.tags }}" />
      <meta property="og:article:category" content="{{ page.category }}" />
    {% endif %}
    {% if page.img %}
      <meta property="og:image" content="{{ page.img }}" />
    {% endif %}
</head>

<body>
    {% include nav.html %}
    <div id="main">
        {{ content }}

        <footer>
          <p>Made by Matt <i data-feather="bell"></i></p>
        </footer>

        <svg id="icon-gradient" width="0" height="0">
          <defs>
            <linearGradient id="grad" x1="0" x2="1" y1="1" y2="0">
              <stop id="s1" offset="0%" stop-color="#55acee" stop-opacity="0.5" />
              <stop id="s2" offset="100%" stop-color="#1ed889"/>
            </linearGradient>
          </defs>
        </svg>
    </div><!-- div container -->

    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <script src="/assets/all.js"></script>
    <script>
      feather.replace();

      // find the icons on home page header, then:
      // set stroke attribute to gradient defined above, and
      // add a <link> tag inside SVG to reference the element
      const socialIcons = document.querySelectorAll(".social svg");
      // convert NodeList to Array.
      [...socialIcons].forEach(icon => {
        icon.setAttribute("stroke", "url(#grad)");
        icon.innerHTML = `${icon.innerHTML} <use xlink:href="#icon-gradient`
      });
    </script>
</body>

</html>
