---
layout: default
---

<header class="header-home">
  <img class="logo" src="/assets/img/logo-mintblue.png" />
  <h1>I build things.</h1>
  <h2>Matt Bell, London</h2>
  <span>
    <button id="header-home-button">
      <span>Hello.</span>
    </button>
  </span>
  <span class="social">
    <a target="_blank" title="Twitter" href="https://twitter.com/mbellgb">
      <i data-feather="twitter" aria-label="Twtiter"></i>
    </a>
    <a target="_blank" title="CV" href="/files/curriculum_vitae-matt_bell.pdf">
      <i data-feather="file-text" aria-label="CV"></i>
    </a>
    <a target="_blank" title="Facebook" href="https://facebook.com/mbellgb">
      <i data-feather="facebook" aria-label="Facebook"></i>
    </a>
    <a target="_blank" title="GitHub" href="https://github.com/mbellgb">
      <i data-feather="github" aria-label="GitHub"></i>
    </a>
    <a target="_blank" title="Instagram" href="https://instagram.com/mbell_gb">
      <i data-feather="instagram" aria-label="Instagram"></i>
    </a>
  </span>
</header>
<article>
  <section class="home" id="section-about">
    <aside>
      <h1>I’m a software engineer.</h1>
      <p>I currently work at State Street building microservices as a
      service. I recently graduated from UCL with a degree in computer
      science.</p>
      <div class="buttons">
        <a href="/about" class="button">My work + study</a>
        <button id="about-next-button">
          <i data-feather="arrow-down" aria-hidden="true"></i>Continue
        </button>
      </div>
    </aside>
    <div class="image">
      <img src="/assets/img/gradient-nobg.png" />
    </div>
  </section>
  <hr />
  <section class="home" id="section-projects">
    <div class="projects">
      <div class="cards-2">
        {% assign projects = site.projects | sort: "date", "first" | reverse %}
        {% for p in projects limit: 4%}
          {% include card.html p=p %}
        {% endfor %}
      </div>
    </div>
    <aside>
      <h1>I enjoy working on random projects.</h1>
      <p>Some of them come from attending hackathons, weekend-long events where you create new things. Other projects are a
        bit more spontaneous.</p>
      <div class="buttons">
        <a href="/projects" class="button">More projects</a>
        <button id="projects-next-button">
          <i data-feather="arrow-down" aria-hidden="true"></i>Continue
        </button>
      </div>
    </aside>
  </section>

  <hr />

  <section class="home" id="section-hackathons">
    <aside>
      <h1>I go to lots of hackathons.</h1>
      <p>Hackathons are the perfect place to try out new pieces of tech, work on projects I wouldn't otherwise be able to work
        on, and to make new friends!</p>
      <h2 class="big">{{ site.hackathons | size }}</h2>
      <p>Hackathons attended so far.</p>
      <p>
        <a href="/hackathons" class="button">View Full List</a>
      </p>
    </aside>
    <div class="image">
      <img src="/assets/img/gitpp.jpg" />
    </div>
  </section>
</article>
