---
layout: default
---

<header {% if page.img %} class="has-img" style="background-image: url('{{ page.img | prepend: site.baseurl }}')" {% endif %}>
    {% if page.title %}
        <div><h1>{{ page.title }}</h1></div>
    {% endif %}
    {% if page.description %}
        <div><h2>{{ page.description }}</h2></div>
    {% endif %}
    {% if page.project_url %}
        <div><a href="{{ page.project_url }}" class="button">Project Site</a></div>
    {% endif %}
</header>

<article class="page">
    {{ content }}
</article>
