---
layout: default
---

<header {% if page.img %} class="has-img" style="background-image: url('{{ page.img | prepend: site.baseurl }}')" {% endif %}>
    {% if page.title %}
        <div><h1>{{ page.title }}</h1></div>
    {% endif %}
    {% if page.date %}
        <div><h2>{{ page.date | date: "Published %e %B, %Y at %H:%M" }}</h2></div>
    {% endif %}
    {% if page.project_url %}
        <div><a href="{{ page.project_url }}" class="button">Project Site</a></div>
    {% endif %}
</header>

<article class="post">
    {% if page.subtitle %}
        <h3>{{ page.subtitle }}</h3>
    {% endif %}

    {% if page.img %}
        {% if page.imgalt %}
            {% assign alt = page.imgalt %}
        {% else %}
            {% assign alt = "Image showing the " | append: page.title | append: " project" %}
        {% endif %}
        <img src="{{ page.img }}" alt="{{ alt }}" />
    {% endif %}

    {{ content }}
</article>